@font-face {
  font-family: 'TTFirsNeue';
  src: local('TTFirsNeue'),
    url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
