// colors
$color-black: #111;
$color-white: #fff;
$color-gray: #575757;
$color-gray-dark: #333;
$color-gray-light: #ebebec;
$color-grey: #F3F3F4;
$color-accent: #FF9514;
$color-accent-light: rgba(255, 149, 20, .4);
